<h1 class = "text-center">Eat-Da-Burger</h1>

<main>
	<div class= "container">
		<div class= "row">
			<div class="col-sm-6 text-center">
				<h3 class="text-center">Burgers that need to be eaten!!!!</h3>
				{{#each burgers}}
					{{#unless this.devoured}}
				<div>
					<form action="/burgers/{{this.id}}?_method=PUT" method="POST">
						<button type="submit" class="btn btn-primary" id= "burgerAvailable"> {{this.burger_name}}
						</button>
					</form>
		
			</div>
		{{/unless}}
		{{/each}}		
	</div>

	<div class ="col-sm-6 text center">
		<h3 class="text-center">Burgers you have devoured!!!</h3>
		{{#each burgers}}
			{{#if this.devoured}}
			<div class="text-center burgerEaten">
				<div>
					{{this.burger_name}}
				</div>
			</div>
			{{/if}}
			{{/each}}
		</div>
	</div>
	</div>
</main>

</br>
</br>
<div class ="row">
<div class ="col-sm-4"></div>
<div class = "col-sm-4">
<h2 class= "text-center">Add A Burger!</h2>
</div>
</div>

<div class ="row">
	<div class ="col-sm-12 text-center">
		<form action ="/burgers" method=POST>
		<input type="text" id="name" name="burger_name" placeholder="Tasty Burger">		<button type="submit" class="btn btn-success addBurger">Add your burger!</button>
		</form>
		</div>
		</div>